#rule:before {
	display: block;
	width: 10px;
	height: 20px;
	background: yellow;
	content: '';
}

.empty .chained .element:after {
	content: '';
}

.first-selector:before, .second-selector:after {
	font-size: 18px;
	content: '';
}

.with-own-content:before {
	content: '>';
}

/* Comment */
.other-rule {
	color: red;
}